
Arquivos/Portugol/cacaPalavras/som_derrota.mp3
*.mp3
Arquivos/Portugol/roda_roda/Notas Parciais até Prova 3.pdf
Arquivos/Portugol/roda_roda/roda.jpeg
Arquivos/Portugol/roda_roda/rodaroda.por
Arquivos/Portugol/roda_roda/star_jedi.zip
Arquivos/Portugol/roda_roda/Starjedi.ttf
Arquivos/Portugol/roda_roda/PoetsenOne-Regular.ttf
Arquivos/Portugol/roda_roda/Starjhol.ttf
Arquivos/Portugol/tela.por
